# Python virtual environment
venv/

# Environment variables
.env

#Memory/Tasks
memory.json
tasks.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Logs
*.log

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db
